Vodafone_Essar1/Web References/com.srhouse.esshazsrv160/Mail0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://esshazsrv160.srhouse.com/EMailService/Mail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net.Mail" />
  <xs:import schemaLocation="http://esshazsrv160.srhouse.com/EMailService/Mail.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmailService" />
  <xs:element name="SendEmailWithAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sEmailFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sBCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSubject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMailBody" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bIsBodyHtml" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net.Mail" minOccurs="0" name="priority" type="q1:MailPriority" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmailService" minOccurs="0" name="attachments" nillable="true" type="q2:ArrayOfFileAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailWithAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailWithAttachmentsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailWithOutAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sEmailFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sBCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSubject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMailBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailWithOutAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailWithOutAttachmentsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>